.home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem 0px;

    &__list {
      // width: 90vw;
      // margin: 0 auto;
      padding-left: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-row-gap: 2rem;
      grid-column-gap: 5rem;
    }
}