.conversion {
  &__home {
    display: grid;
    grid-template-columns: 1fr 0.4fr;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: 1fr;
      grid-gap: 5rem;
    }
  }

  &__list {
    margin-left: 8rem;
    @media only screen and (max-width: $bp-largest) {
      margin-left: 0;
    }
  }

  &__li > li {
    margin: 1rem 0;
  }
}

.no_conversion {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 2rem;

  & > div {
    margin: 1rem;
    display: grid;
    grid-template-columns: minmax(10rem, 26rem) 1fr;

    @media only screen and (max-width: $bp-small) {
      margin: 0.5rem;
      grid-template-columns: 1fr;
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
    text-align: right;
    margin-right: 5rem;
    @media only screen and (max-width: $bp-small) {
      text-align: left;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &__icon {
    color: $color-red;
    font-size: 1.8rem;
    margin-left: 2rem;
  }

  &__warning {
    color: $color-red;
    font-size: 1.4rem;
    font-family: monospace;
  }
}

  // label {
//   font-size: 1.6rem;
//   font-weight: 500;
//   margin-right: 2rem;
//   @media only screen and (max-width: $bp-small) {
//     margin-bottom: 1rem;
//   }
// }

input {
  height: 5rem;
}

